<div class="row">
    <div class="col-md-6">
        <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
        <p *ngIf="isLoading">Loading!</p>
        <form [formGroup]="loginForm" (ngSubmit)="submit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>            
            <div>
                <button class="button"type="submit" [disabled]="!loginForm.valid">Sign {{ isLoginMode ? 'In' : 'Up'}}</button>
            </div>
            <!--<div>
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Register' : 'Login'}}</button>
            </div>-->
        </form>
    </div>

</div>