<div class="row">
    <div class="col-xs-12">
        <img [src]="visibleRecipe.imagePath" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ visibleRecipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 detail-row">
        <p class="details"><i [class]="typeClass"></i> <b style="margin-left: 5px;">{{ visibleRecipe.type }}</b></p> 
        <p class="details"><i class="fa-solid fa-stopwatch-20"></i> Duration: <b>{{ visibleRecipe.duration }} min</b></p>
        <p class="details"><i class="fa-solid fa-skull-crossbones"></i> Difficulty: <b>{{ visibleRecipe.difficulty }}</b></p>
    </div>
</div>
<div class="row" *ngIf="visibleRecipe.nutritions">
    <div class="col-xs-12 detail-row">
        <p class="details"><i class="fa-solid fa-dumbbell"></i> <b style="margin-left: 5px">Nutritions</b></p>        
        <p class="details">{{visibleRecipe.nutritions.calories}} kcal</p>
        <p *ngIf="visibleRecipe.nutritions.carbs" class="details">Carbs: {{visibleRecipe.nutritions.carbs}}g</p>
        <p *ngIf="visibleRecipe.nutritions.proteines" class="details">Proteines: {{visibleRecipe.nutritions.proteines}}g</p>
        <p *ngIf="visibleRecipe.nutritions.fat" class="details">Fat: {{visibleRecipe.nutritions.fat}}g</p>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="button" [routerLink]="['edit']">Edit Recipe</button>
        <!--<div class="btn-group" appDropdown>
            <button type="button" class="button dropdown-toggle">Manage Recipe <span class=caret></span></button>            
            <ul class="dropdown-menu">
                <li><a (click)="shopIngredients()" style="cursor: pointer;">Shop Ingredients</a></li>
                <li><a [routerLink]="['edit']">Edit Recipe</a></li>
                <li><a (click)="deleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>-->
    </div>
</div>
<hr>
<h4>Ingredients:</h4>
<div class="row">
    <div class="col-xs-12 portion-calc-div">
        <p class="details"><i class="fa-solid fa-bowl-food"></i> Servings:</p>
        <form (ngSubmit)="onPortionSubmit()">
            <input class="portion-calc" type="number" id="portionMultiplier" min="1" [defaultValue]="visibleRecipe.portions" [(ngModel)]="multiplier" [ngModelOptions]="{standalone : true}">
        </form>
        <button class="button" (click)="shopIngredients()">Shop Ingredients</button>
    </div>    
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item-border list-group-item" *ngFor="let ingredient of visibleRecipe.ingredients">
                <b>{{ ingredient.name }}</b>{{ (!ingredient.unit) ? "" : ": "+getMultiplierValue(ingredient.amount) }} {{ ingredient.unit }}
            </li>
        </ul>
    </div>
</div>
<hr>
<h4>Cooking Instructions:</h4>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item-border list-group-item" *ngFor="let descriptionPart of descriptionParts; let i = index">
                <b>{{i+1}}.</b> {{ descriptionPart }}
            </li>
        </ul>
    </div>
</div>

<br> 