/* You can add global styles to this file, and also import other style files */

:root {
    --background: rgb(55, 55, 55);
    --text: white;
}

p {
    margin: 0;
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: var(--background);
}

b {
    font-weight: 500;
}